@import './../../../assets/Sass/variable.scss';

.sidebar-sub-menu-item{
    padding-left: 24px;
    margin-bottom: 12px;
    color: $main-color;
    font-size: 13px;

    &.active{
        color: $primary-color;
    }

    &:last-child{
        margin-bottom: 0;
    }
}